<a href="https://colab.research.google.com/github/GiselleNidhoggr/BestLearnCodes/blob/main/Cheat_Sheet_02_2022_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#All about Lists

## Lists and other stuff

Insert itens in a specific position on a list

In [1]:
import random
randomlist = random.sample(range(10, 30), 5)
print(randomlist)

[20, 25, 12, 22, 28]

In [2]:
#To insert 5 to the 3rd position in randomlist
randomlist.insert(2,5)
print(randomlist)

[20, 25, 5, 12, 22, 28]

In [3]:
print(randomlist.index(5))

2

In [4]:
#Remember, lists starts from position 0
print(randomlist.index(12))

3

Print a (basic) sum (in PYTHON!)

In [5]:
a=2
b=8
print(a+b)

10

In [6]:
print(type(a))
print(type(b))
print(type(a+b))
#Note that the numbers are integers

<class 'int'>
<class 'int'>
<class 'int'>

When a code must to work using +=

In [7]:
y=10
#x=y+=10
y+=10
#print(x) > get an error
print(y)

20

In [8]:
r = 5
r += 10

Checking an output using 'in range':

In [9]:
for i in range(5):
    print(i,end="")
    if i==1:
        continue
else:
    print('end')

01234end

Use of a dictionary

In [10]:
dict1={1:1,1:2,1:3,1:'value'}
print(dict1)

{1: 'value'}

In [11]:
dict1={1:1,1:2,1:3,1:'value',2:5,'otro':'xxx'}
print(dict1)

{1: 'value', 2: 5, 'otro': 'xxx'}

Playing with lists

In [12]:
list=[10,20,30]
i=list[1]
for i in list:
    i+=1
    print(i,end=" ")

11 21 31

## Google - Python List and Tuples

Question

Using the "split" string method from the preceding lesson, complete the get_word function to return the {n}th word from a passed sentence. For example, get_word("This is a lesson about lists", 4) should return "lesson", which is the 4th word in this sentence. Hint: remember that list indexes start at 0, not 1.

In [13]:
def get_word(sentence, n):
	# Only proceed if n is positive 
	if n > 0:
		words = sentence.split()
		# Only proceed if n is not more than the number of words 
		if n <= len(words):
			return(words[n-1])
	return("")

print(get_word("This is a lesson about lists", 4)) # Should print: lesson
print(get_word("This is a lesson about lists", -4)) # Nothing
print(get_word("Now we are cooking!", 1)) # Should print: Now
print(get_word("Now we are cooking!", 5)) # Nothing

lesson

Now

In [14]:
import random
randomlist1 = random.sample(range(1, 41), 10) #((intervalo inicial, intervalo final), quantidade de números)
print(randomlist1)

[38, 26, 24, 33, 31, 32, 40, 3, 2, 5]

In [15]:
print(len(randomlist1))
print(randomlist1[8])

10
2

In [16]:
randomlist1.append(28)
print(randomlist1)

[38, 26, 24, 33, 31, 32, 40, 3, 2, 5, 28]

In [17]:
randomlist1.insert(3,'oito')
print(randomlist1)

[38, 26, 24, 'oito', 33, 31, 32, 40, 3, 2, 5, 28]

In [18]:
randomlist1.insert(80,'ultimo')
print(randomlist1)

[38, 26, 24, 'oito', 33, 31, 32, 40, 3, 2, 5, 28, 'ultimo']

In [20]:
randomlist1.remove(24)
print(randomlist1)

[38, 26, 'oito', 33, 31, 32, 40, 3, 2, 5, 28, 'ultimo']

In [21]:
randomlist1.pop(2)
print(randomlist1)

[38, 26, 33, 31, 32, 40, 3, 2, 5, 28, 'ultimo']

In [22]:
randomlist1[2]='vintcioito'
print(randomlist1)

[38, 26, 'vintcioito', 31, 32, 40, 3, 2, 5, 28, 'ultimo']

Question

The skip_elements function returns a list containing every other element from an input list, starting with the first element. Complete this function to do that, using the for loop to iterate through the input list.

In [23]:
def skip_elements(elements):
  # Initialize variables
  new_list = []
  i = 0

  # Iterate through the list by value and not index
  for element in elements:
      # Does this element belong in the resulting list? Check on index
      if i % 2 == 0:
          # Add this element to the resulting list
          new_list.append(element)
      # Increment index
      i += 1

  return new_list

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be 
['Orange', 'Strawberry', 'Peach']
print(skip_elements([])) # Should be []

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']
[]

Question

Let's use tuples to store information about a file: its name, its type and its size in bytes. Fill in the gaps in this code to return the size in kilobytes (a kilobyte is 1024 bytes) up to 2 decimal places.

In [24]:
def file_size(file_info):
	name, type_file, size= file_info
	return("{:.2f}".format(size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(('Notes', 'txt', 496))) # Should print 0.48
print(file_size(('Program', 'py', 1239))) # Should print 1.21

17.46
0.48
1.21

In [25]:
fruits=['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']
chars=0
for fruit in fruits:
    chars+=len(fruit)

print('Total characters: {}, average lenght: {}'.format(chars,chars/len(fruits)))

Total characters: 34, average lenght: 6.8

In [26]:
winners=['a','b','c']

for index, person  in enumerate(winners):
    print('{} - {} '.format(index+1,person))

1 - a
2 - b
3 - c

Question

Complete the skip_elements function to return **every other** element from the list, this time using the enumerate function to check if an element is on an **even** position or an **odd** position.

In [27]:
def skip_elements(elements):
    element=[]
    for index, elements in enumerate(elements):
        if index % 2 == 0:
            element.append(elements)
          
    return element

print(skip_elements(["a", "b", "c", "d", "e", "f", "g"])) # Should be ['a', 'c', 'e', 'g']
print(skip_elements(['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach'])) # Should be ['Orange', 'Strawberry', 'Peach']

['a', 'c', 'e', 'g']
['Orange', 'Strawberry', 'Peach']

In [28]:
# Separate the name of the name and email address
def full_emails(people):
      result = []
      for email, name in people:
           result.append("{} <{}>".format(name,email))
      return result

print(full_emails([("Alex@qq.com", "Alex"),("Nancy@163.com", "Nancy")]))

['Alex <Alex@qq.com>', 'Nancy <Nancy@163.com>']

In [29]:
# Separate the name of the name and email address
def full_emails(people):
      result = []
      for name, email in people:
           result.append("<{}> {}".format(email,name))
      return result

print(full_emails([("Alex","Alex@qq.com"),("Nancy","Nancy@163.com")]))

['<Alex@qq.com> Alex', '<Nancy@163.com> Nancy']

In [30]:
multiples=[]
for x in range(1,11):
    multiples.append(x*7)

print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [31]:
multiples2=[x*7 for x in range (1,11)]
print(multiples2)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [32]:
languages=['python','perl','ruby','go','java','c']
lenght=[len(language) for language in languages]
print(lenght)

[6, 4, 4, 2, 4, 1]

In [33]:
languages=['python','perl','ruby','go','java','c']
lenght=[]
for language in languages:
    lenght=len(language)
    print(lenght)

type(lenght)

6
4
4
2
4
1

int

In [34]:
z=[x for x in range(1,101) if x%3==0 ]
print(z)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

Question

The odd_numbers function returns a list of odd numbers between 1 and n, inclusively. Fill in the blanks in the function, using list comprehension. Hint: remember that list and range counters start at 0 and end at the limit minus 1.

In [35]:
def odd_numbers(n):
    return [x for x in range(0,n+1) if x%2!=0]


print(odd_numbers(5))  # Should print [1, 3, 5]
print(odd_numbers(10)) # Should print [1, 3, 5, 7, 9]
print(odd_numbers(11)) # Should print [1, 3, 5, 7, 9, 11]
print(odd_numbers(1))  # Should print [1]
print(odd_numbers(-1)) # Should print []

[1, 3, 5]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1]
[]

In [36]:
w=[ x for x in range(1,101) if x % 10 == 0 ]

print(w)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

**Lists and Tuples Operations Cheat Sheet**

Lists and tuples are both sequences, so they share a number of sequence operations. But, because lists are mutable, there are also a number of methods specific just to lists. This cheat sheet gives you a run down of the common operations first, and the list-specific operations second.


---


>Common sequence operations

- len(sequence) Returns the length of the sequence

- for element in sequence Iterates over each element in the sequence

- if element in sequence Checks whether the element is part of the sequence

- sequence[i] Accesses the element at index i of the sequence, starting at zero

- sequence[i:j] Accesses a slice starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(sequence) by default.

- for index, element in enumerate(sequence) Iterates over both the indexes and the elements in the sequence at the same time

- Check out the official documentation for sequence operations.
---

> List-specific operations and methods

- list[i] = x Replaces the element at index i with x

- list.append(x) Inserts x at the end of the list

- list.insert(i, x) Inserts x at index i

- list.pop(i) Returns the element a index i, also removing it from the list. If i is omitted, the last element is returned and removed.

- list.remove(x) Removes the first occurrence of x in the list

- list.sort() Sorts the items in the list

- list.reverse() Reverses the order of items of the list

- list.clear() Removes all the items of the list

- list.copy() Creates a copy of the list

- list.extend(other_list) Appends all the elements of other_list at the end of list
---
> Most of these methods come from the fact that lists are mutable sequences. For more info, see the official documentation for mutable sequences and the list specific documentation.

List comprehension
- [expression for variable in sequence] Creates a new list based on the given sequence. Each element is the result of the given expression.

- [expression for variable in sequence if condition] Creates a new list based on the given sequence. Each element is the result of the given expression; elements only get added if the condition is true.

In [37]:
#20Brigida22 clave afip

Question 1

Given a list of filenames, we want to **rename** all the files with extension hpp to the extension h. To do this, we would like to generate a new list called newfilenames, consisting of the new filenames. Fill in the blanks in the code using any of the methods you’ve learned thus far, like a for loop or a list comprehension.

In [38]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
# Generate newfilenames as a list containing the new filenames
newfilenames=[]
for filename in filenames:
    if filename.endswith('hpp'):
        filename=filename.replace('hpp','h')
        newfilenames.append(filename)
    else:
        newfilenames.append(filename)

print(newfilenames) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

In [39]:
filenames2 = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
newfilenames2=[]
for filename2 in filenames2:
        filename2=filename2.replace('hpp','h')
        newfilenames2.append(filename2)

print(newfilenames2) 
# Should be ["program.c", "stdio.h", "sample.h", "a.out", "math.h", "hpp.out"

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'h.out']

In [40]:
filenames = ["program.c", "stdio.hpp", "sample.hpp", "a.out", "math.hpp", "hpp.out"]
newfilenames = [filename.replace("hpp","h") if filename.endswith("hpp") else filename for filename in filenames ]
print(newfilenames)

['program.c', 'stdio.h', 'sample.h', 'a.out', 'math.h', 'hpp.out']

Question 2

Let's create a function that turns text into pig latin: a simple text transformation that modifies each word moving the first character to the end and appending "ay" to the end. For example, python ends up as ythonpay.

In [41]:
def pig_latin(text):
    say = ""
    words = text.split()
    for word in words:
    # Create the pig latin word and add it to the list
        say+=word[1:]+word[0]+'ay '

    # Turn the list back into a phrase
    return say.strip()

print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

In [42]:
def pig_latin(text):
  say = ""
  # Separate the text into words
  words = text.split()
  for word in words:
    # Create the pig latin word and add it to the list
    say+=word[1:]+word[0:1]+"ay"+" "
    # Turn the list back into a phrase
  return say.strip()
		
print(pig_latin("hello how are you")) # Should be "ellohay owhay reaay ouyay"
print(pig_latin("programming in python is fun")) # Should be "rogrammingpay niay ythonpay siay unfay"

ellohay owhay reaay ouyay
rogrammingpay niay ythonpay siay unfay

Question 3

The permissions of a file in a Linux system are split into three sets of three permissions: read, write, and execute for the owner, group, and others. 

Each of the three values can be expressed as an octal number summing each permission, with:

4 read
2 write
1 execute 

Or

r, w, and x or - when the permission is not granted.


For example: 

- 640 is read/write for the owner, read for the group, and no permissions for the others; converted to a string, it would be: "rw-r-----"


- 755 is read/write/execute for the owner, and read/execute for group and others; converted to a string, it would be: "rwxr-xr-x"


Fill in the blanks to make the code convert a permission in octal format into a string format.

4.
Question 4
Tuples and lists are very similar types of sequences. What is the main thing that makes a tuple different from a list?

A tuple is immutable

5.
Question 5
The group_list function accepts a group name and a list of members, and returns a string with the format: group_name: member1, member2, … For example, group_list("g", ["a","b","c"]) returns "g: a, b, c". Fill in the gaps in this function to do that.

In [43]:
def group_list(group, users):
   members = ", ".join(users)
   return "{} : {}".format(group, members)

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing : Mike, Karen, Jake, Tasha
Engineering : Kim, Jay, Tom
Users :

6.
Question 6
The guest_list function reads in a list of tuples with the name, age, and profession of each party guest, and prints the sentence "Guest is X years old and works as __." for each one. For example, guest_list(('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")) should print out: Ken is 30 years old and works as Chef. Pat is 35 years old and works as Lawyer. Amanda is 25 years old and works as Engineer. Fill in the gaps in this function to do that.

In [44]:
def guest_list(guests):
	for sentence in guests:
		name, age, profession = sentence
		print("{} is {} years old and works as {}".format(name,age,profession))
guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'