<a href="https://colab.research.google.com/github/GiselleNidhoggr/BestLearnCodes/blob/main/Cheat_Sheet_02_2022_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#All About Dicts


<font style="font-size: 40px" color='#AF7AC5'><center><h1> Dictionaries in Python üê±‚Äçüèç </h1></center></font>
<center><div>
<image src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHsh5yVrEF4CCBs2CNlyVS-WDRXciamaSBO3BlIosCTdvU92PbLSVdU-Cnlpf0RdC9p6g&usqp=CAU' alt="cat-reading-a-dictionary">
</div></center>

In [ ]:
x={}
type(x) #first dict on this notebook!:)

dict

In [1]:
file_counts={'jpg':9, 'csv':107, 'txt':80, 'py':25, }
print(file_counts)

{'jpg': 9, 'csv': 107, 'txt': 80, 'py': 25}

In [2]:
file_counts.keys()

dict_keys(['jpg', 'csv', 'txt', 'py'])

In [ ]:
'txt' in file_counts

True

In [ ]:
file_counts['txt']

80

In [ ]:
file_counts['cfg']=8
print(file_counts)

{'jpg': 9, 'csv': 107, 'txt': 80, 'py': 25, 'cfg': 8}

In [ ]:
file_counts['jpg']=10
print(file_counts)

{'jpg': 10, 'csv': 107, 'txt': 80, 'py': 25, 'cfg': 8}

In [ ]:
del file_counts['jpg']
print(file_counts)

{'csv': 107, 'txt': 80, 'py': 25, 'cfg': 8}

**Question**

The "toc" dictionary represents the table of contents for a book. 

Fill in the blanks to do the following: 	
1) Add an entry for Epilogue on page 39. 	
2) Change the page number for Chapter 3 to 24. 	3) Display the new dictionary contents. 	
4) Display True if there is Chapter 5, False if there isn't.

In [ ]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
toc['Epilogue']=39 # Epilogue starts on page 39
toc['Chapter 3']=24 # Chapter 3 now starts on page 24
print(toc) # What are the current contents of the dictionary?
'chapter 5' in toc # Is there a Chapter 5?

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}

False

In [ ]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
toc["Epilogue"]=39 # Epilogue starts on page 39
toc["Chapter 3"]=24 # Chapter 3 now starts on page 24
print(toc) # What are the current contents of the dictionary?
print("Chapter 5" in toc) # Is there a Chapter 5?

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False

In [ ]:
print(file_counts)

{'csv': 107, 'txt': 80, 'py': 25, 'cfg': 8}

In [ ]:
for extension in file_counts:
    print(extension)

csv
txt
py
cfg

In [ ]:
for extension, amount in file_counts.items():
    print('There are {} files with the .{} extension '.format(amount,extension))

There are 107 files with the .csv extension
There are 80 files with the .txt extension
There are 25 files with the .py extension
There are 8 files with the .cfg extension

In [ ]:
file_counts.keys()

dict_keys(['csv', 'txt', 'py', 'cfg'])

In [ ]:
file_counts.values()
fc_list=[file_counts.values()]
print(fc_list)
print(type(fc_list))

[dict_values([107, 80, 25, 8])]
<class 'list'>

In [ ]:
for value in file_counts.values():
    print(value)

107
80
25
8

**Question**

Complete the code to iterate through the keys and values of the cool_beasts dictionary. Remember that the items method returns a tuple of key, value for each element in the dictionary.

In [ ]:
cool_beasts = {"octopuses":"tentacles", "dolphins":"fins", "rhinos":"horns"}
for beast,arms in cool_beasts.items():
    print("{} have {}".format(beast,arms))

octopuses have tentacles
dolphins have fins
rhinos have horns

In [ ]:
def count_letters(text):
    result={}
    for letter in text:
        if letter not in result:
            result[letter]=0
        result[letter]+=1
    return result

count_letters('texto pequeno    ')

{' ': 5, 'e': 3, 'n': 1, 'o': 2, 'p': 1, 'q': 1, 't': 2, 'u': 1, 'x': 1}

**Question**

In Python, a dictionary can only hold a single value for a given key. To workaround this, our single value can be a list containing multiple values. Here we have a dictionary called "wardrobe" with items of clothing and their colors. Fill in the blanks to print a line for each item of clothing with each color, for example: "red shirt", "blue shirt", and so on.

In [ ]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for i, j in wardrobe.items():
	for j1 in j:
		print("{} {}".format(j1, i))

red shirt
blue shirt
white shirt
blue jeans
black jeans


#Dictionary Methods Cheat Sheet


---


Definition

x = {key1:value1, key2:value2} 


---



**Operations**

- len(dictionary) - Returns the number of items in the dictionary

- for key in dictionary - Iterates over each key in the dictionary

- for key, value in dictionary.items() - Iterates over each key,value pair in the dictionary

- if key in dictionary - Checks whether the key is in the dictionary

- dictionary[key] - Accesses the item with key key of the dictionary

- dictionary[key] = value - Sets the value associated with key

- del dictionary[key] - Removes the item with key key from the dictionary


**Methods**

- dict.get(key, default) - Returns the element corresponding to key, or default if it's not present

- dict.keys() - Returns a sequence containing the keys in the dictionary

- dict.values() - Returns a sequence containing the values in the dictionary

- dict.update(other_dictionary) - Updates the dictionary with the items coming from the other dictionary. Existing entries will be replaced; new entries will be added.

- dict.clear() - Removes all the items of the dictionary

#Exercise

In [4]:
colors = ["red", "white", "blue"]
colors.insert(2, "yellow")
print(colors)

['red', 'white', 'yellow', 'blue']

In [9]:
animal='Hippopotamus'
print(animal[3:6]) #pop
print(animal[-5]) #t
print(animal[10:]) #us

pop
t
us

In [8]:
animal='Hippopotamus'
print(animal[0:1])

H

The format_address function separates out parts of the address string into new strings: house_number and street_name, and returns: "house number X on street named Y". 

The format of the input string is: numeric house number, followed by the street name which may contain numbers, but never by themselves, and could be several words long. 

For example, "123 Main Street", "1001 1st Ave", or "55 North Center Drive". Fill in the gaps to complete this function.

In [5]:
def format_address(address_string):
  # Declare variables
  house_number = 0
  street_name = []
  # Separate the address string into parts
  address = address_string.split()
  # Traverse through the address parts
  for item in address:
    if item.isnumeric():
      house_number = item
    else:
      street_name.append(item)
    # Determine if the address part is the
    # house number or part of the street name

  # Does anything else need to be done 
  # before returning the result?
  
  # Return the formatted string  
  return "house number {} on street named {}".format(house_number, " ".join(street_name))

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

Question 2

The highlight_word function changes the given word in a sentence to its upper-case version. For example, highlight_word("Have a nice day", "nice") returns "Have a NICE day". Can you write this function in just one line?

In [6]:
def highlight_word(sentence, word):
	return sentence.replace(word, word.upper()) 

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

A professor with two assistants, Jamie and Drew, wants an attendance list of the students, in the order that they arrived in the classroom. 

Drew was the first one to note which students arrived, and then Jamie took over. 

After the class, they each entered their lists into the computer and emailed them to the professor, who needs to combine them into one, in the order of each student's arrival. 

Jamie emailed a follow-up, saying that her list is in reverse order. 

Complete the steps to combine them into one list as follows: **the contents of Drew's list, followed by Jamie's list in reverse order**, to get an accurate list of the students as they arrived.

In [7]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  list3=list2+list1
  # Followed by the elements of list1 in reverse order
  
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

None

In [19]:
def combine_lists(Jamies_list, Drews_list):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
    list3=Drews_list.reverse()
    list4=Jamies_list
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(Jamies_list+Drews_list)

['Alice', 'Cindy', 'Bobby', 'Jan', 'Peter', 'Mike', 'Carol', 'Greg', 'Marcia']

Use a list comprehension to create a list of squared numbers (n*n). 

The function receives the variables start and end, and returns a list of squares of consecutive numbers between start and end inclusively.


For example, squares(2, 3) should return [4, 9].

In [23]:
def squares(start, end):
    return [i**2 for i in range(start, end+1)]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Complete the code to iterate through the keys and values of the car_prices dictionary, printing out some information about each one.

In [31]:
def car_listing(car_prices):
  result = ""
  for key in car_prices:
    result += f"{key} costs {car_prices[key]} dollars" + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [28]:
a_dict = {'apple':'red', 'grass':'green', 'sky':'blue'}
for key in a_dict:
    #print(key) # for the keys
    print(a_dict[key]) # for the values

red
green
blue

Taylor and Rory are hosting a party. They sent out invitations, and each one collected responses into dictionaries, with names of their friends and how many guests each friend is bringing. 

Each dictionary is a partial list, but Rory's list has more current information about the number of guests. 

Fill in the blanks to combine both dictionaries into one, with each friend listed only once, and the number of guests from Rory's dictionary taking precedence, if a name is included in both dictionaries. 

Then print the resulting dictionary.

In [40]:
def combine_guests(guests1, guests2):
    # Combine both dictionaries into one, with each key listed 
    # only once, and the value from guests1 taking precedence
    combined=guests2.update(guests1)
    return guests2
    print(guests2)
Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

Use a dictionary to count the frequency of letters in the input string. Only letters should be counted, not blank spaces, numbers, or punctuation. 

Upper case should be considered the same as lower case. For example, count_letters("This is a sentence.") should return:

```{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}```

In [49]:
def count_letters(text):
  result = {}
  text = text.lower()
  # Go through each letter in the text
  for letter in text:
   
    # Check if the letter needs to be counted or not
    if letter.isalpha() :
      # Add or increment the value in the dictionary
      count = text.count(letter)
      result[letter] = count
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'a': 2, 'b': 2, 'c': 2}
{'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}
{'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}