<a href="https://colab.research.google.com/github/GiselleNidhoggr/BestLearnCodes/blob/main/Cheat_Sheet_01_2022_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#All About Strings

## Strings Strings...

String Reference Cheat Sheet

In Python, there are a lot of things you can do with strings. In this cheat sheet, you’ll find the most common string operations and string methods.


String operations

len(string) Returns the length of the string

for character in string Iterates over each character in the string

if substring in string Checks whether the substring is part of the string

string[i] Accesses the character at index i of the string, starting at zero

string[i:j] Accesses the substring starting at index i, ending at index j-1. If i is omitted, it's 0 by default. If j is omitted, it's len(string) by default.

In [9]:
string='something here'
print(string)

something here

In [ ]:
sum=string+' '+string
print(sum)

something here something here

In [10]:
mul=(string+' ')*2
print(mul)

something here something here

In [ ]:
len(string)

14

In [12]:
print(string[2])

m

In [ ]:
for character in string:
    print(character, end=' ')
print("\n")

s o m e t h i n g   h e r e

In [ ]:
substring='h'
if substring in string:
    print('It''s here')
else:
    print('Not in here')

Its here

In [ ]:
string[5]

'h'

In [ ]:
string[6:9]

'ing'

In [ ]:
print(string[0:-1])
print(string[0:14])

something her
something here

**String methods**

*   string.lower() / string.upper() Returns a copy of the string with all 

*   lower / upper case characters

*   string.lstrip() / string.rstrip() / string.strip() Returns a copy of the string without left / right / left or right whitespace

*   string.count(substring) Returns the number of times substring is present in the string

*   string.isnumeric() Returns True if there are only numeric characters in the string. If not, returns False.

*   string.isalpha() Returns True if there are only alphabetic characters in the string. If not, returns False.

*   string.split() / string.split(delimiter) Returns a list of substrings that were separated by whitespace / delimiter

*   string.replace(old, new) Returns a new string where all occurrences of old have been replaced by new.

*   delimiter.join(list of strings) Returns a new string with all the strings joined by the delimiter

**Methods**

- string.lower() / string.upper() Returns a copy of the string with all lower / upper case characters

In [ ]:
print(string.lower())
print(string.upper())

something here
SOMETHING HERE

- string.lstrip() / string.rstrip() / string.strip() Returns a copy of the string without left / right / left or right whitespace

In [ ]:
string1='  there''s some spaces in here     '
print(string1.lstrip())
print(string1.rstrip())
print(string1.strip())

theres some spaces in here
  theres some spaces in here
theres some spaces in here

- string.count(substring) Returns the number of times substring is present in the string

In [ ]:
string.count(substring)

2

In [ ]:
string.count('s')

1

- string.isnumeric() Returns True if there are only numeric characters in the string. If not, returns False.

In [2]:
string4='123' #white spaces are invalid, returns false
print(string4)

print(string4.isnumeric())

123
True

- string.isalpha() Returns True if there are only alphabetic characters in the string. If not, returns False.

In [ ]:
print(string)
print(string1)
string2='aaa' #white spaces are invalid, returns false
print(string2)

print(string.isalpha())
print(string1.isalpha())
print(string2.isalpha())

something here
  theres some spaces in here
aaa
False
False
True

- string.split() / string.split(delimiter) Returns a list of substrings that were separated by whitespace / delimiter

In [ ]:
string.split()

['something', 'here']

In [ ]:
string3='its_here'
string3.split("_")

['its', 'here']

- string.replace(old, new) Returns a new string where all occurrences of old have been replaced by new.

In [ ]:
string3.replace('its', 'can_be')

'can_be_here'

- delimiter.join(list of strings) Returns a new string with all the strings joined by the delimiter

In [ ]:
list1 = ['it','is','an','list'] 
s = "-"
  
s = s.join(list1)
print(s)

it-is-an-list

In [ ]:
print(" ".join(list1))

it is an list

In [47]:
print(" ".join(['it','is','an','list']))

it is an list

You can check the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods) here.

## Strings - Exercises during the course

> :)

In [3]:
def double_word(word):
    return (str(word) * 2) + str(len(word*2))
     

print(double_word("hello")) # Should return hellohello10
print(double_word("abc"))   # Should return abcabc6
print(double_word(""))      # Should return 0

hellohello10
abcabc6
0

Compare first and last string and return True if it's equal

In [19]:
def first_and_last(message):
  if message[0]!=message[-1]:
    return False
  if message[0]==message[-1]:
    return True

print(first_and_last('aaabbb'))
print(first_and_last('anagrama'))

False
True

Sum of sliced strings

In [79]:
sentence='eu estava tranquila ontem. Fiz atividades físicas, coisa que eu amo! Depois fui tomar meu bom banho. O gatinho me acompanhou como sempre, ela queria comida :)'

In [80]:
hidden_message=sentence[:2]+sentence[63:67]+sentence[85:90]+sentence[103:110]
print(hidden_message)

eu amo meu gatinho

In [40]:
type(hidden_message)

str

In [42]:
sentence.index('amo')

64

In [44]:
sentence.index('eu') #it repeats twice

0

In [46]:
'amo' in hidden_message

True

Function which returns the initials of the words contained in the phrase received, in upper case. For example: "Universal Serial Bus" should return "USB"; "local area network" should return "LAN”.

In [54]:
def initials(phrase):
  words = phrase.upper()
  words = words.split()
  result = ""
  for word in words:
    result += word[0]
  return result

print(initials("Universal Serial Bus")) # Should be: USB
print(initials("local area network")) # Should be: LAN
print(initials("Operating system")) # Should be: OS

USB
LAN
OS

Function student_grade, using the format method, it returns the phrase "X received Y% on the exam". For example, student_grade("Reed", 80) should return "Reed received 80% on the exam".

In [57]:
def student_grade(name, grade):
	return"{} received {}% on the exam".format(name, grade)
	

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

In [58]:
def student_grade(name, grade):
	return"{name} received {grade}% on the exam".format(name=name, grade=grade)
	

print(student_grade("Reed", 80))
print(student_grade("Paige", 92))
print(student_grade("Jesse", 85))

Reed received 80% on the exam
Paige received 92% on the exam
Jesse received 85% on the exam

Function which determines taxes of products andput two decimals on this number

In [61]:
price=2.5
with_tax=price*1.09 #(9% of tax)
print(price,with_tax)

2.5 2.725

In [64]:
print('Base price: ${:.2f}. With tax: ${:.2f}'.format(price,with_tax))

Base price: $2.50. With tax: $2.73

In [72]:
print('Base price: {}. With tax: ${:.2f}'.format(price,with_tax))

Base price: 2.5. With tax: $2.73

Celcius to Fahrenheit function

In [98]:
def to_celsius(x):
    return (x-32)*5/9

for x in range(0,101,10):
    print('{:<3} F| {:>6.2f} C'.format(x,to_celsius(x)))

0   F| -17.78 C
10  F| -12.22 C
20  F|  -6.67 C
30  F|  -1.11 C
40  F|   4.44 C
50  F|  10.00 C
60  F|  15.56 C
70  F|  21.11 C
80  F|  26.67 C
90  F|  32.22 C
100 F|  37.78 C

In [99]:
for y in range(2,51,5):
    print('  {:<5.0f}=  {:>3.2f}'.format(y,y))

  2    =  2.00
  7    =  7.00
  12   =  12.00
  17   =  17.00
  22   =  22.00
  27   =  27.00
  32   =  32.00
  37   =  37.00
  42   =  42.00
  47   =  47.00

##Strings - Assessment quiz

The is_palindrome function checks if a string is a palindrome. A palindrome is a string that can be equally read from left to right or right to left, omitting blank spaces, and ignoring capitalization. Examples of palindromes are words like kayak and radar, and phrases like "Never Odd or Even". Fill in the blanks in this function to return True if the passed string is a palindrome, False if not.

In [14]:
def is_palindrome(input_string):
    # We'll create two strings, to compare them
    new_string = ""
    reverse_string = ""
    # Traverse through each letter of the input string
    for letter in input_string.strip():
        # Add any non-blank letters to the 
        # end of one string, and to the front
        # of the other string. 
        new_string = new_string+letter.replace(" ","")
        reverse_string = letter.replace(" ","")+reverse_string
    # Compare the strings
    if new_string.lower() == reverse_string.lower():
        return True
    return False

print(is_palindrome("Never Odd or Even")) # Should be True
print(is_palindrome("abc")) # Should be False
print(is_palindrome("kayak")) # Should be True

True
False
True

In [15]:
def convert_distance(miles):
	km = miles * 1.6 
	result = "{} miles equals {:.1f} km".format(miles,km)
	return result

print(convert_distance(12)) # Should be: 12 miles equals 19.2 km
print(convert_distance(5.5)) # Should be: 5.5 miles equals 8.8 km
print(convert_distance(11)) # Should be: 11 miles equals 17.6 km

12 miles equals 19.2 km
5.5 miles equals 8.8 km
11 miles equals 17.6 km

If we have a string variable named Weather = "Rainfall", which of the following will print the substring or all characters before the "f"?

In [16]:
weather='rainfall'

In [20]:
weather.index('fall')

4

In [21]:
weather[4:]

'fall'

Fill in the gaps in the nametag function so that it uses the format method to return first_name and the first initial of last_name followed by a period. For example, nametag("Jane", "Smith") should return "Jane S."

In [28]:
def nametag(first_name, last_name):
	return("{} {}.".format(first_name, last_name[:1]))

print(nametag("Jane", "Smith")) 
# Should display "Jane S." 
print(nametag("Francesco", "Rinaldi")) 
# Should display "Francesco R." 
print(nametag("Jean-Luc", "Grand-Pierre")) 
# Should display "Jean-Luc G."

Jane S.
Francesco R.
Jean-Luc G.

The replace_ending function replaces the old string in a sentence with the new string, but only if the sentence ends with the old string.

If there is more than one occurrence of the old string in the sentence, only the one at the end is replaced, not all of them.

For example, 

replace_ending("abcabc", "abc", "xyz") should return abcxyz, not xyzxyz or xyzabc. 

The string comparison is case-sensitive, so replace_ending("abcabc", "ABC", "xyz") should return abcabc (no changes made).

In [41]:
def replace_ending(sentence, old, new):
	# Check if the old string is at the end of the sentence 
	if sentence.endswith(old):
		# Using i as the slicing index, combine the part
		# of the sentence up to the matched string at the 
		# end with the new string
		i = sentence.rfind(old)
		new_sentence = sentence[:i]+new
		return new_sentence

	# Return the original sentence if there is no match 
	return sentence
	
print(replace_ending("It's raining cats and cats", "cats", "dogs")) 
# Should display "It's raining cats and dogs"
print(replace_ending("She sells seashells by the seashore", "seashells", "donuts")) 
# Should display "She sells seashells by the seashore"
print(replace_ending("The weather is nice in May", "may", "april")) 
# Should display "The weather is nice in May"
print(replace_ending("The weather is nice in May", "May", "April")) 
# Should display "The weather is nice in April"

It's raining cats and dogs
She sells seashells by the seashore
The weather is nice in May
The weather is nice in April

#All about Lists

## Lists and other stuff

Insert itens in a specific position on a list

In [4]:
import random
randomlist = random.sample(range(10, 30), 5)
print(randomlist)

[13, 24, 12, 25, 23]

In [5]:
#To insert 5 to the 3rd position in randomlist
randomlist.insert(2,5)
print(randomlist)

[13, 24, 5, 12, 25, 23]

In [6]:
print(randomlist.index(5))

2

In [7]:
#Remember, lists starts from position 0
print(randomlist.index(12))

3

Print a (basic) sum (in PYTHON!)

In [ ]:
a=2
b=8
print(a+b)

10

In [ ]:
print(type(a))
print(type(b))
print(type(a+b))
#Note that the numbers are integers

<class 'int'>
<class 'int'>
<class 'int'>

When a code must to work using +=

In [ ]:
y=10
#x=y+=10
y+=10
#print(x) > get an error
print(y)

20

In [ ]:
r = 5
r += 10

Checking an output using 'in range':

In [ ]:
for i in range(5):
    print(i,end="")
    if i==1:
        continue
else:
    print('end')

01234end

Use of a dictionary

In [ ]:
dict1={1:1,1:2,1:3,1:'value'}
print(dict1)

{1: 'value'}

In [ ]:
dict1={1:1,1:2,1:3,1:'value',2:5,'otro':'xxx'}
print(dict1)

{1: 'value', 2: 5, 'otro': 'xxx'}

Playing with lists

In [ ]:
list=[10,20,30]
i=list[1]
for i in list:
    i+=1
    print(i,end=" ")

11 21 31