<a href="https://colab.research.google.com/github/GiselleNidhoggr/BestLearnCodes/blob/main/Giselle_Introdu%C3%A7%C3%A3o_a_Python_AULA_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Estruturas de Decisão**

In [1]:
#Estrutura de decisão do tipo if / elif / else

idade = int(input("digite sua idade:"))

digite sua idade:30

In [2]:
if (idade >= 18):
   print("Você já pode ser motorista")
   a = 15
   b = 3
   c = a + b

Você já pode ser motorista

In [3]:
if (idade >= 18):
   print("Você já pode ser motorista!")
else:
   print("Você ainda não pode ser motorista!")

Você já pode ser motorista!

In [4]:
#Calcula Faixa IRPF

salario = 3000

if (salario <= 1903.98):
   print("Faixa 1: Até R$ 1.903,98: isento")
elif (salario >= 1903.99 and  salario <= 2826.65):
   print("Faixa2: De R$ 1.903,99 até R$ 2.826,65: 7,5%")
elif (salario >= 2826.66 and  salario <= 3751.05):
   print("Faixa 3: De R$ 2.826,66 até R$ 3.751,05: 15%")
elif (salario >= 3751.06 and  salario <= 4664.68):
   print("Faixa 4: De R$ 3.751,06 até R$ 4.664,68: 22,5%")
else:
   print("Faixa 5: Acima de R$ 4.664,68: 27,5%")

Faixa 3: De R$ 2.826,66 até R$ 3.751,05: 15%

**4.5 Exercícios**

*Escreva um programa que decide se um número é par ou ímpar*

In [5]:
#digite seu codigo aqui

numero = input("Digite um número:")
resto = int(numero) % 2

if resto == 0:
   print("O número", numero, "é par.")
else:
   print("O número", numero, "é ímpar.")

Digite um número:20
O número 20 é par.

*Escreva um programa que classifique um atleta em uma categoria etária, de acordo com a tabela a seguir:*

![image.png]()

In [6]:
#digite seu codigo aqui

idade = int(input("Digite a idade do atleta:"))

if (idade >= 5 and idade <= 10):
   print("Categoria Infantil")
elif (idade > 10 and idade <= 17):
  print("Categoria Júnior")
elif (idade > 17 and idade <= 30):
  print("Categoria Profissional")
elif (idade > 30):
  print("Categoria Sênior")
else:
  print("Categoria não identificada")

Digite a idade do atleta:26
Categoria Profissional

**Estruturas de Repetição**

In [7]:
#Laço de repetição - while (equanto satisfaz a condição)

#condição inicial
n = 1

while n <= 10:
   print("Estamos no looping, iteração número:", n)
   n = n + 1 #incrementa a variável

Estamos no looping, iteração número: 1
Estamos no looping, iteração número: 2
Estamos no looping, iteração número: 3
Estamos no looping, iteração número: 4
Estamos no looping, iteração número: 5
Estamos no looping, iteração número: 6
Estamos no looping, iteração número: 7
Estamos no looping, iteração número: 8
Estamos no looping, iteração número: 9
Estamos no looping, iteração número: 10

In [8]:
n2 = 0

while n2 <= 10 :
   print("Estamos no looping, iteração número:", n2)
   n2 = n2 + 1 #incrementa a variável
   resposta = input("Deseja continuar s/n?:")
   if (resposta.lower() == "n"):
      n2 = 999

Estamos no looping, iteração número: 0
Deseja continuar s/n?:10
Estamos no looping, iteração número: 1
Deseja continuar s/n?:n

In [9]:
# Repetição - for (repete o bloco de instrução subordinado a ela por um número de vezes pré-determinado)

for i in range(10):  # Utiliza uma variável auxiliar cujo valor inicial é zero sendo este valor aumentado em 1 unidade a cada execução do laço
    print("número:", i)

número: 0
número: 1
número: 2
número: 3
número: 4
número: 5
número: 6
número: 7
número: 8
número: 9

**5.3 Exercícios**

*Faça um algoritmo que mostre na tela todos os números ímpares de 0 a 100.*

In [10]:
for i in range(1, 100, 2): # parâmetro com "passo" do algoritmo
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

Escreva um algoritmo que: 

*   Solicite ao usuário a digitação do nome e da idade. 
*   Exiba estes dados na tela. 

`[Condição: deverá repetir a pergunta até que o usuário digite a palavra "fim" no lugar do nome ou da idade.]`

In [12]:
nome = ""

while nome.lower() != "fim":
     nome = input("Digite seu nome:")
     idade = input("Digite sua idade:")
     print("O nome é", nome, "e a idade é", idade)

Digite seu nome:fim
Digite sua idade:15
O nome é fim e a idade é 15

In [13]:
nome = ""
idade = ""
continua = True

while continua != False:  
     nome = input("Digite seu nome:")
     idade = input("Digite sua idade:")
     continua = (nome.lower() != "fim") and (idade != "999") 
     if continua != False:
       print("O nome é", nome, "e a idade é", idade)

Digite seu nome:999
Digite sua idade:85
O nome é 999 e a idade é 85
Digite seu nome:99
Digite sua idade:999

**Estrutura de dados**

In [14]:
# LISTAS

minha_lista = ["maria", 21, 3.54, "SP", 2900.44, 34, 'Casa', 56.7] #permite tipos de dados diferentes

print(minha_lista)

print(type(minha_lista))

['maria', 21, 3.54, 'SP', 2900.44, 34, 'Casa', 56.7]
<class 'list'>

In [15]:
# acessando o valor pelo índice, primeiro elemento inicia em [0]

valor = int(minha_lista[2])
print(valor)

print(type(minha_lista[2]))

3
<class 'float'>

In [16]:
# consultando quantos elementos estão presentes na lista

print(len(minha_lista))

8

In [17]:
# seleção de intervalos da lista
print(minha_lista)

print(minha_lista[2:7]) # até o elemento anterior ao final

['maria', 21, 3.54, 'SP', 2900.44, 34, 'Casa', 56.7]
[3.54, 'SP', 2900.44, 34, 'Casa']

In [18]:
# alterando algum valor da lista

print(minha_lista)

salario = 4000.00

minha_lista[4] = salario

print(minha_lista)

['maria', 21, 3.54, 'SP', 2900.44, 34, 'Casa', 56.7]
['maria', 21, 3.54, 'SP', 4000.0, 34, 'Casa', 56.7]

In [19]:
minha_lista[4] = minha_lista[4] + (minha_lista[4] * 0.3)

print(minha_lista[4])

print(minha_lista)

5200.0
['maria', 21, 3.54, 'SP', 5200.0, 34, 'Casa', 56.7]

In [20]:
# união de listas

lista_mamiferos = ["vaca", "gato", "leão"]
lista_aves = ["tucano", "papagaio", "sabiá"]

lista_animais = lista_mamiferos + lista_aves 

print(lista_animais)

['vaca', 'gato', 'leão', 'tucano', 'papagaio', 'sabiá']

In [21]:
# união de listas

lista_mamiferos = ["vaca", "gato", "leão"]
lista_aves = ["tucano", "papagaio", "sabiá"]
lista_localizacao = [23, 35, 56]

lista_animais = lista_mamiferos + lista_aves + lista_localizacao

print(lista_animais)

['vaca', 'gato', 'leão', 'tucano', 'papagaio', 'sabiá', 23, 35, 56]

In [22]:
# união de listas 

lista_mamiferos = ["vaca", "gato", "leão"]
lista_aves = ["tucano", "papagaio", "sabiá"]
lista_localizacao = [23, 35, 56]

for i in range(len(lista_localizacao)): #número de elementos da lista
    lista_localizacao[i] = str(lista_localizacao[i]) #converte para string elementos da lista

lista_animais = lista_mamiferos + lista_aves + lista_localizacao    

print(sorted(lista_animais)) #exibe ordenado
print(lista_animais) #não modifica a ordem

['23', '35', '56', 'gato', 'leão', 'papagaio', 'sabiá', 'tucano', 'vaca']
['vaca', 'gato', 'leão', 'tucano', 'papagaio', 'sabiá', '23', '35', '56']

In [23]:
# união e ordenação de listas de tipo de dados numérico

lista_1 = [23, 35, 56]
lista_2 = [11, 22, 33.4, 23]

lista_3 = lista_1 + lista_2

lista_3.sort() #altera o ordem, pode-se usar reverse=True
print(lista_3)

[11, 22, 23, 23, 33.4, 35, 56]

In [24]:
# pesquisa se existe o elemento na lista
encontrou = 23 in lista_3
print(encontrou)

True

In [25]:
# inserção e exclusão - lista

lista_1 = [23, 35, 56]

lista_1.append(100) #insere ao final da lista
print(lista_1)

lista_1.insert(0, 12) #insere elemento na posição indicada
print(lista_1)

del(lista_1[3]) #exclusão do elemento na posição indicada
print(lista_1)

lista_1.clear()
print(lista_1)

[23, 35, 56, 100]
[12, 23, 35, 56, 100]
[12, 23, 35, 100]
[]

In [26]:
# TUPLAS

minha_tupla = (1, 1, 3, 5, 8, 13)

print(minha_tupla)

print(type(minha_tupla))

(1, 1, 3, 5, 8, 13)
<class 'tuple'>

In [27]:
tupla_1 = (5, 8, 13.5, 21, 6, 7.9)
tupla_2 = (21, 34)
tupla_3 = ("cachorro", "gato")

#selecionando o primeiro elemento da tupla
print(tupla_1[0])

#selecionando alguns elementos da tupla
print(tupla_1[2:5])

#criando uma tupla a partir de 3 tuplas
nova_tupla = tupla_1 + tupla_2 + tupla_3

print("Total de elemetos na Tupla:", len(nova_tupla))

5
(13.5, 21, 6)
Total de elemetos na Tupla: 10

In [28]:
# verifica se existe determinado elemento na tupla

elementos_tupla = ('casa', 'bola', 'chaveiro')
print('casa' in elementos_tupla)

# o elemento não existe na tupla
elemento_tupla2 = (12, 45, 78)
print(80 in elemento_tupla2)

True
False

In [29]:
# DICIONÁRIOS

# criação de um dicionário
dicionario_1 = {"chave1" : 10, "chave2" : 25}
print(dicionario_1)

# acessando o elemento correspondente à chave
print(dicionario_1["chave1"])

# adicionando um novo elemento ao dicionário
dicionario_1["chave3"] = 100
print(dicionario_1)

{'chave1': 10, 'chave2': 25}
10
{'chave1': 10, 'chave2': 25, 'chave3': 100}

In [30]:
# obtendo as chaves do dicionário
dicionario_x = {"nome" : 10, "idade" : 25, "estado" : "SP"}

print(dicionario_x.keys())

dict_keys(['nome', 'idade', 'estado'])

In [31]:
veiculos = {'moto': "harley-davidson", 'carro': "honda", 'bicicleta': "caloi"}

# Verificando se chave existe e exibindo o valor associado
if 'moto' in veiculos:
    print(veiculos['moto'])

# Verificando se determinado valor consta em alguma das chaves
if 'caloi' in veiculos.values():
    print("Achei")

harley-davidson
Achei

**6.4 Exercícios**

*Construa duas listas e mostre as listas na tela. Depois, crie uma lista a partir da junção das duas listas anteriores e mostre o valor da posição 0.*

In [32]:
lista1 = ["a", "b", "c"]
lista2 = ["d", "e", "f"]

print(lista1)
print(lista2)

lista_final = lista1 + lista2

print(lista_final[0])

['a', 'b', 'c']
['d', 'e', 'f']
a

*Construa um dicionário cujas chaves sejam as palavras em inglês for, in, if, else, True, False e while e os valores sejam as traduções para o português.*

In [33]:
dicionario = {"for":"para", "in":"em", "if":"se", "else":"senão", "true":"verdadeiro", "false":"falso", "while":"enquanto"}

**Funções**

In [34]:
# criar funções

def minha_funcao(numero):
   x = numero * 2
   y = numero / 2
   return x, y

n1 = 10
print(minha_funcao(n1))

n2 = 20
print(minha_funcao(n2))

n3 = 15
dobro, metade = minha_funcao(n3)

print(dobro)
print(metade)

(20, 5.0)
(40, 10.0)
30
7.5

**7.2 Exercícios**

*Escreva uma função que recebe dois números e calcula sua média.*

In [35]:
def media(x, y):
   m = (x + y)/2
   return(m)

print(media(20,15))

mediafinal = media(20,15)
print(mediafinal)

17.5
17.5

*Escreva uma função que recebe uma lista de números e calcula a sua média.*

In [36]:
def media(lista):
   soma = 0
   for num in lista:
       soma = soma + num
   m = soma/len(lista)
   return(m)

lista1 = [2, 2, 6, 2]

print(media(lista1))

3.0

*Escreva uma função que recebe um número e retorna True se ele for primo ou False se ele não for primo.*

In [37]:
def primo(num):
   divisores = 0
   i = 1
   while i <= num:   # números primos - divisíveis por 1 e por ele mesmo (o número 1 não é primo)
      if num % i == 0 :
         divisores = divisores + 1
      i = i + 1

   if divisores == 2:
      return True
   else:
      return False


if primo(3):
   print('É primo!!!')

É primo!!!

**Classes**

In [38]:
# classe pessoa
class Pessoa:
    nome = ""
    cargo = ""
    salario = 0.0

# criação do objeto "gerente" do tipo Pessoa
gerente = Pessoa()
gerente.nome = "Patrícia"
gerente.cargo = "Gerente de Compras"
gerente.salario = 7000


# criação do objeto "engenheiro" do tipo pessoa
engenheiro = Pessoa()
engenheiro.nome = "Carlos"
engenheiro.cargo = "Engenheiro de Produto"
engenheiro.salario = 6400

print(gerente.nome, "é", gerente.cargo, "seu salário é", gerente.salario)
print(engenheiro.nome,"é", engenheiro.cargo, "seu salário é", engenheiro.salario)

Patrícia é Gerente de Compras seu salário é 7000
Carlos é Engenheiro de Produto seu salário é 6400

In [39]:
# classe com método (função)
class Pessoa:
   nome = ""
   cargo = ""
   salario = 0.0

   def calcula_salario(self, salario, bonus):
       return self.salario + self.bonus


# criação do objeto "dev" do tipo Pessoa
dev = Pessoa()
dev.nome = "Antonio"
dev.cargo = "Desenvolver FullStack"
dev.salario = 5200
dev.bonus = 450

salario_total = dev.calcula_salario(dev.salario, dev.bonus)

print(dev.nome, "é", dev.cargo, "seu salário é", salario_total)

Antonio é Desenvolver FullStack seu salário é 5650

**Bibliotecas**

In [40]:
# importar biblioteca - exemplo datetime

from datetime import date

dia = date.today().day
mes = date.today().month
ano = date.today().year

print(dia, mes, ano)

11 2 2022

**8.2 Exercícios**

*Crie uma classe Animais com as propriedades nome, raça e ano de nascimento. Instancie os objetos gato e crie um método para calcular a idade dos animais.*

In [41]:
# classe + função Animais

from datetime import date   #importa módulo que fornece classes para manipulação de datas e horas

class Animais:
   nome = ""
   raça = ""
   ano_nascimento = 0

   def calcula_idade(self, ano_nascimento):
       idade = date.today().year - ano_nascimento
       return idade


# criando objeto gato
gato = Animais()
gato.nome = "Mingau"
gato.raça = "Persa"
gato.ano_nascimento = 2015

idadegato = gato.calcula_idade(gato.ano_nascimento)

print(gato.nome, gato.raça, idadegato)

Mingau Persa 7

In [42]:
# criando objeto cachorro
cachorro = Animais()
cachorro.nome = "Thor"
cachorro.raça = "Sem Raça Definida"
cachorro.ano_nascimento = 2017

idadecachorro = cachorro.calcula_idade(cachorro.ano_nascimento)

print(cachorro.nome, cachorro.raça, idadecachorro)

Thor Sem Raça Definida 5

In [44]:
print(Animais)

<class '__main__.Animais'>

In [50]:
print('O gato se chama',gato.nome, 'a raça é classificiada em',gato.raça, 'e tem',idadegato,'anos.''\n''Já o cachorro se chama',cachorro.nome,'a raça é classificiada em', cachorro.raça, 'e tem',idadecachorro,'anos.')

O gato se chama Mingau a raça é classificiada em Persa e tem 7 anos.
Já o cachorro se chama Thor a raça é classificiada em Sem Raça Definida e tem 5 anos.